//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "meudominio.com.br" IN {
 type master;
 file "/etc/bind/zones/db.meudominio.com.br";
	allow-transfer { 177.204.85.230; };
};
